@import '../global/colors.scss';


.container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.left {
  flex: 1;
  // background-color: $color-border;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $color-text;
}

.right {
  flex: 2;
  padding: 2rem;
  color: $color-text;
  // background-color: $color-primary;
}
