@import '../global/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // overflow-y: scroll;
  // scroll-snap-type: y mandatory;
}

.pageContainer {
  display: flex;
  height: 100vh;
  // scroll-snap-align: start;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .svgPath {
    // position: absolute;
    top: 0;
    margin-left: -100%;
    // color: $color-secondary;

    #lineBase {
      stroke: $color-primary;
    }

    #lineSvg {
      width: 100%;
      margin: 2rem auto;
      position: absolute;
      top: 0;

      .lineCircle {
        // margin-left: 1rem;
        transform-box: fill-box;
        offset-anchor: 0% 50%;
        offset-rotate: auto;
        offset-path: url('#lineRunning'); 
        animation: move 10s forwards linear;
        animation-timeline: scroll();
      }
    }
    @keyframes move {
      to {
        offset-distance: 100%;
      }
    }
    #lineRunning {
      stroke: $color-secondary;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      animation: line-animation 5s linear forwards;
      animation-timeline: scroll();
    }
    @keyframes line-animation {
      from {
        stroke-dashoffset: 1;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}

.right {
  flex: 2;
  display: grid;
  place-items: center;

  .snapSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    // background-color: red;
    
    .title {
      color: #fff;
      font-size: 2rem;
      margin-left: -30rem;
    }

    .title span {
      color: $color-secondary;
      font-size: 4rem;
      text-transform: uppercase;
    }
    .rightText {
      // background: red;
      // padding-right: 1rem;
      text-align: center;
      width:  50%;
      align-items: end;
      margin-right: -30rem;
      gap: 1rem;
        h1 {
          font-size: 5rem;
          color: #fff;
          text-transform: uppercase;
          // margin-left: 20rem;
          margin-top: -2rem;
      }

      p {
          font-size:.8rem;
          color: #BEBEBE;
          // background:red;
          padding: 0 1.5rem;
          // margin-left: 20rem;
          // margin-top: -1.5rem;
          margin-top: -4rem;
          text-align: center;
          
      }
    }


    .heroFooter {
      font-size: 1.5rem;
      margin-top: 2rem;
  
      color: #BEBEBE;
      .heroButton {
        margin-top: 1rem;
        background-color: $color-secondary;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        // font-size: 2rem;
        cursor: pointer;
      }
    }
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .right .snapSection .title {
    margin-left: -20rem;
  }

  .right .snapSection .rightText {
    margin-right: -20rem;
  }
}

@media (max-width: 992px) {
  .right .snapSection .title {
    margin-left: -10rem;
    font-size: 1.5rem;
  }

  .right .snapSection .title span {
    font-size: 3rem;
  }

  .right .snapSection .rightText {
    margin-right: -10rem;
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    // align-items: center;
  }

  .pageContainer {
    // display: flex;
    flex-direction: column;
    // height: 100vh;
  }

  .left {
    flex: none;
    z-index: -1;    
  }
  

  // .left, .right {
  //   flex: 1;
  // }

  .right {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }

  .right .snapSection .title {
    margin-left: 0;
    font-size: 1.2rem;
    margin-top: -2rem;
    margin-bottom: 1.5rem;
  }

  .right .snapSection .title span {
    font-size: 2.5rem;
  }
  
  .right .snapSection .rightText {
    margin-right: 0;
    // width: 80%;
    align-items: center;
    h1 {
      margin-bottom: 4rem;
      font-size: 3rem;
    }

    p {
      font-size: 0.6rem;
    }

    .heroFooter {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 576px) {
  .right .snapSection .title {
    font-size: 1rem;
  }

  .right .snapSection .title span {
    font-size: 2rem;
  }

  .right .snapSection .rightText {
    width: 100%;
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 0.5rem;
    }
  }
}